<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
        .card.m-2:nth-child( n + 4 ){
            display: none!important;
        }
    </style>

</head>
<body>
    <%- include('partials/navbar.ejs')  %> 
    <div class="container">
        <div class="card mb-4 bg-success p-4" style="color: white;">
            <h3>Hi I'm Posseidon.</h3>
            <h2>Welcome to my blog!</h2>
        </div>
        
        <% categories.forEach(category => { %>
            <div class="mt-5">
                <div>
                    <h2 class="card-title float-start"><%= category.name %></h2>
                    <a href="/category/<%= category.slug %>" class="btn btn-success float-end">Go to category page</a>
                    <div class="clearfix"></div>
                </div>
                <hr>
                <div class="align-middle">
                    <% articles.forEach((article, index) => { %> 
                        <% if (article.categoryId === category.id) { %>
                            <div class="card m-2" style="width: 22rem; display: inline-block;">
                                <div class="card-body">
                                    <h5 class="card-title mb-3">
                                        <%= article.title  %>
                                    </h5>
                                    <a href="/article/<%= article.slug  %>" class="btn btn-outline-success">Read article</a>
                                </div>
                            </div>
                        <% } %>
                    <% }) %>
                </div>
            </div>
        <% }) %>
    </div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</html>